

*
    margin: 0
    padding: 0
    box-sizing: border-box

body

    header
        background: rgba(0, 0, 0, 0.9) url('../images/banner1.jpg')
        background-blend-mode: darken
        background-repeat: no-repeat
        background-position: center
        border-image: url(../images/bottom_decoration_img.png) 0 0 30 0 round
        border-bottom: 15px solid transparent
        nav
            
            color: #ffffff 
            .nav-left
                align-self: center
                border-top: 1px solid #ffffff
                border-bottom: 1px solid #ffffff
                ul
                    gap: 3rem
                    margin: 0
                    padding: 0

                    li
                        list-style: none
                        text-transform: uppercase
                        padding: 10px
                        &:hover
                            background-color: red

            .nav-img
                align-self: center

            .nav-right
                align-self: center
                border-top: 1px solid #ffffff
                border-bottom: 1px solid #ffffff
                ul
                    gap: 3rem
                    margin: 0
                    padding: 0

                    li
                        list-style: none
                        text-transform: uppercase
                        padding: 10px
                        &:hover
                            background-color: red

        .carousel
            height: 100vh   
            .carousel-indicators
                button
                    width: 10px
                    height: 10px
                    border-radius: 50%
                button.active
                    width: 5px 
                    height: 5px
                    border-radius: 100%
                    border: 1.5px solid  white
                    margin: 1px
                    background-clip: content-box
                    padding: .2rem
                    margin-top: 8px
            .carousel-inner
                top: 30%
                opacity: 1
                color: #ffffff
                span
                    font-size: 54px
                    &:nth-of-type(2)
                        color: red

                .btn
                    width: 60vw

                
                    button
                        border-radius: 20px
                        line-height: 2.5
                        text-align: center
                        text-transform: uppercase
                        border: none
                        cursor: pointer
                    
                        &:nth-of-type(2)
                            background-color: red
                        



    // debuut premiere section

    .s1
        background-image: url(../)                        
                            


        


        