* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body header {
  background: rgba(0, 0, 0, 0.9) url("../images/banner1.jpg");
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-position: center;
  border-image: url(../images/bottom_decoration_img.png) 0 0 30 0 round;
  border-bottom: 15px solid transparent;
}
body header nav {
  color: #ffffff;
}
body header nav .nav-left {
  align-self: center;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}
body header nav .nav-left ul {
  gap: 3rem;
  margin: 0;
  padding: 0;
}
body header nav .nav-left ul li {
  list-style: none;
  text-transform: uppercase;
  padding: 10px;
}
body header nav .nav-left ul li:hover {
  background-color: #C42D40;
}
body header nav .nav-img {
  align-self: center;
}
body header nav .nav-right {
  align-self: center;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}
body header nav .nav-right ul {
  gap: 3rem;
  margin: 0;
  padding: 0;
}
body header nav .nav-right ul li {
  list-style: none;
  text-transform: uppercase;
  padding: 10px;
}
body header nav .nav-right ul li:hover {
  background-color: #C42D40;
}
body header .carousel {
  height: 100vh;
}
body header .carousel .carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
body header .carousel .carousel-indicators button.active {
  width: 5px;
  height: 5px;
  border-radius: 100%;
  border: 1.5px solid white;
  margin: 1px;
  background-clip: content-box;
  padding: 0.2rem;
  margin-top: 8px;
}
body header .carousel .carousel-inner {
  top: 30%;
  opacity: 1;
  color: #ffffff;
}
body header .carousel .carousel-inner span {
  font-size: 54px;
}
body header .carousel .carousel-inner span:nth-of-type(2) {
  color: #C42D40;
}
body header .carousel .carousel-inner .btn {
  width: 60vw;
}
body header .carousel .carousel-inner .btn button {
  border-radius: 20px;
  line-height: 2.5;
  text-align: center;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}
body header .carousel .carousel-inner .btn button:nth-of-type(2) {
  background-color: #C42D40;
}
body .s1 {
  background-image: url(../images/main_bg.jpg);
  padding-top: 80px;
}
body .s1 .container {
  background-color: #ffffff;
  background-image: url(../images/box-left-top.png), url(../images/box-right-top.png), url(../images/box-bottom-left.png), url(../images/box-bottom_right.png);
  background-position: top left, top right, bottom left, bottom right;
  background-repeat: no-repeat;
}
body .s1 .container .story h1 span {
  font-size: 60px;
  color: #C42D40;
}
body .s1 .container .row .lg .list-group {
  text-align: center;
  align-self: center;
}
body .s1 .container .row .lg .list-group .list-group-item {
  font-size: 3rem;
  padding: 2rem;
  background-color: #ffffff;
  outline-color: #C42D40;
}
body .s1 .container .row .lg .list-group .list-group-item i {
  color: gray;
}
body .s1 .container .row .lg .list-group .list-group-item i:hover {
  color: #C42D40;
  border-color: #C42D40;
  border-bottom: 2px solid #C42D40;
}
body .s1 .container .row .lg .list-group .list-group-item:hover {
  color: #C42D40;
  border-color: #C42D40;
  border-right: 4px solid #C42D40;
}
body .s1 .container .row .crd .row {
  gap: 1rem;
}
body .s1 .container .row .crd .row img {
  border-radius: 50%;
  border: 3px solid lightgray;
  align-self: center;
}
body .s1 .container .row .crd .row div {
  margin: 0.5rem 1rem;
  align-self: center;
}
body .s1 .container .row .crd .row button {
  background-color: #EFEFEF;
  color: #C42D40;
  font-weight: 500;
  height: 30px;
  align-self: center;
  border: none;
}
body .s2 {
  background-image: url(../images/team_background.jpg);
  color: white;
}
body .s2 h3 {
  font-size: 2.5em;
}
body .s2 h3 span {
  font-size: 3.5rem;
  color: #C42D40;
}
body .s3 {
  background-image: url(../images/main_bg.jpg);
}
body .s3 .c-principal {
  background-color: white;
  background-image: url(../images/box-left-top-grey.png), url(../images/box-right-top-grey.png), url(../images/box-bottom-left-grey.png), url(../images/box-bottom_right-grey.png);
  background-position: top left, top right, bottom left, bottom right;
  background-repeat: no-repeat;
}
body .s3 .c-principal .row h2 {
  font-size: 2em;
}
body .s3 .c-principal .row h2 span {
  color: #C42D40;
  font-size: 1.5em;
}
body .s3 .c-principal .row .container {
  background-image: url(../images/book_table_bg.jpg);
  background-position: center;
  color: #ffffff;
  border-radius: 20px;
}
body .s3 .c-principal .row .container h2 span {
  font-weight: bolder;
}
body .s3 .c-principal .row .container .em input {
  border-radius: 10px;
  line-height: 2.5;
  margin: 10px;
}
body .s3 .c-principal .row .container button {
  background-color: #C42D40;
  color: #ffffff;
  border-radius: 20px;
  border: none;
  line-height: 2.7;
}
body .s3 .c-principal .container {
  background-color: white;
}
body .s3 .c-principal .container .row .card2 img {
  border-radius: 1rem;
  border: 5px solid lightgray;
  outline: 1px solid white;
}
body .s3 .c-principal .container .row .card2 button {
  padding: 20px 0;
  border-radius: 20px;
  border: none;
  background-color: #C42D40;
  transform: translateY(-150px, 0);
}
body .s3 .c-principal .container .row .card2 h2 {
  text-align: start;
  font-size: 1.5rem;
}
body .s3 .c-principal .container .row .card2 p {
  text-align: start;
}
body .s3 .c-principal .row button {
  background-color: #C42D40;
  border: none;
  border-radius: 20px;
  line-height: 2.5;
  color: #ffffff;
  transform: translateY(-25px);
}
body .s4 {
  background-image: url(../images/testimonials_background.jpg);
}
body .s4 .row {
  padding: 5vh 0;
}
body .s4 .row h2 {
  font-size: 2.5rem;
  color: #ffffff;
}
body .s4 .row h2 span {
  font-size: 3.5rem;
  color: #C42D40;
}
body .s4 .row #img5 {
  border: none;
}
body .s4 .row div img {
  border-radius: 50%;
  border: 3px solid lightgray;
}
body .s4 .row div div span {
  color: #C42D40;
}
body .s4 .row div div p {
  color: #ffffff;
}
body .s4 .row div {
  gap: 1.5em;
}
body .s4 .row div div {
  border: 1px solid #ffffff;
  border-radius: 25px;
}
body .s5 {
  background-image: url(../images/main_bg.jpg);
}
body .s5 .container {
  background-color: #C42D40;
  border-radius: 20px;
  color: white;
}
body .s5 .container i {
  font-size: 2rem;
  padding: 2vh 0;
}
body footer {
  background-image: url(../images/footer_background.jpg);
  color: #ffffff;
  border-image: url(../images/footer_bottom_decoration_img.png) 30 0 0 0 round;
  border-top: 15px solid transparent;
}
body footer .row div button {
  background-color: #C42D40;
  line-height: 2.5;
  border-radius: 30px;
  padding: 2px 20px;
  margin: 3px;
  border: 0.1px solid #ffffff;
}
body footer .zen {
  background-color: #C42D40;
  border: none;
  height: 10vh;
}

/*# sourceMappingURL=style.css.map */
